.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

#splitpane {
    -fx-background-color: #e3e1d6;
}

#pane1 {
    -fx-background-color: #e3e1d6;
}

#hboxHigh {
    -fx-background-color: #c9bcb6;
}